body{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(juke.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    
    width: 40rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #392b6ba6;
    border-radius: 8px;
}
table,td, tr{
    width: 35rem;
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: center;

    
    
}
h1{
color:white
}

tbody{
  
}
thead{
    font-weight: bold;
    font-size: large;
    
    
}
#id{
    display: none;
}
input{
    background-color: white;
    height: 2rem;
    width: 15rem;
    border: none;
    border-radius: 8px;
    font-size: large;
}
button{
    background: powderblue;
    border: none;
    padding: 0.6rem;
    border-radius: 8px;
    outline: none;

}
button:hover{
    opacity: 0.8;
    cursor: pointer;
}
.exibe{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color: white;
}
